.basic-info-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.addresses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .address-form {
    max-width: 400px;
    flex: 1 0 400px;
  }
}

.action-buttons {
  margin-top: 20px;
  button {
    display: block;
    margin-bottom: 30px;
  }
}
